/* Definições das fontes Futura */
@font-face {
  font-family: 'Futura';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("//bark.co/cdn/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2") format("woff2"),
       url("//bark.co/cdn/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec.woff") format("woff");
}

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  font-style: oblique;
  font-display: fallback;
  src: url("//bark.co/cdn/fonts/futura/futura_o4.9747e2e6ed2f11b894984527c927b42234e48815.woff2") format("woff2"),
       url("//bark.co/cdn/fonts/futura/futura_o4.d5edc6b1d9a050bbe0beb9093d73b883bf18c6c1.woff") format("woff");
}

/* Estilo da imagem do logo */
.logo-img {
  height: auto; /* Altura automática para manter a proporção */
  width: 300px; /* Largura fixa do logo */
  margin-right: auto; /* Espaço à direita do logo */
}

/* Estilo do corpo da página */
body {
  font-family: 'Futura', sans-serif; /* Fonte padrão da página */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
  background-color: #000000; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  letter-spacing: 0.9px; /* Espaçamento entre letras */
}

/* Estilo do cabeçalho */
header {
  background-color: #000000; /* Cor de fundo do cabeçalho */
  padding: 30px; /* Preenchimento do cabeçalho */
}

/* Estilo do formulário de busca */
#searchForm {
  display: flex; /* Alinha os itens em linha */
  justify-content: center; /* Centraliza o formulário */
  padding: 28px; /* Preenchimento do formulário */
  background-color: #000000; /* Cor de fundo do formulário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
}

/* Estilo do campo de busca */
#searchInput {
  font-family: 'Cursive', sans-serif; /* Mudando para uma fonte cursiva */
  font-size: 12px; /* Tamanho menor */
  width: 200px; /* Largura do campo de busca */
  padding: 8px; /* Preenchimento do campo */
  margin-right: 10px; /* Margem à direita */
  border: 1px solid #000000; /* Borda do campo */
  border-radius: 4px; /* Bordas arredondadas */
}

/* Estilo do botão de busca */
button {
  padding: 60px 20px;
  font-family: 'Cursive', sans-serif; /* Mudando para uma fonte cursiva */
  font-size: 20px; /* Tamanho menor */
  border: none; /* Sem borda */
  background-color: #000000; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}
/* Estilo do ícone no botão */
button i {
  margin-right: 0.5px; /* Espaço entre o ícone e o texto */
}
/* Efeito hover no botão de busca */
button:hover {
  background-color: #333333; /* Cor do botão ao passar o mouse */
}


/* Estilo do botão ao passar o mouse */
button:hover {
  background-color: #333333; /* Cor do botão ao passar o mouse */
}

/* Estilo do container principal */
.container {
  width: 50%; /* Largura do container */
  margin: 0; /* Remove margem padrão */
  display: flex; /* Alinha os itens em linha */
  justify-content: space-around; /* Espaço entre os itens */
  align-items: flex-end; /* Alinha os itens na parte inferior */
}

/* Estilo do título principal */
h1 {
  margin: 0; /* Remove margem padrão */
  font-size: 1.5em; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Estilo da navegação */
nav ul {
  list-style: none; /* Remove marcadores da lista */
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove preenchimento padrão */
  display: flex; /* Alinha os itens em linha */
}

nav ul li {
  margin-left: 10px; /* Espaço à esquerda entre os itens */
}

/* Estilo dos links de navegação */
nav ul li a {
  padding: 10px 20px; /* Preenchimento dos links */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  font-weight: 700; /* Peso da fonte */
  letter-spacing: 4px; /* Espaçamento entre letras */
}

/* Estilo da seção hero */
.hero {
  text-align: center; /* Centraliza o texto */
  padding: 50px 20px; /* Preenchimento da seção */
  background-color: #fff; /* Cor de fundo da seção */
}

/* Estilo do título da seção hero */
.hero h2 {
  margin: 0; /* Remove margem padrão */
  font-size: 1.5em; /* Tamanho da fonte */
  font-weight: 700; /* Peso da fonte */
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Estilo do parágrafo da seção hero */
.hero p {
  font-size: 1.0em; /* Tamanho da fonte */
  line-height: 1.0; /* Altura da linha */
  letter-spacing: 0.1px; /* Espaçamento entre letras */
}

/* Estilo dos botões de ação */
.btn {
  display: inline-block; /* Permite espaçamento em torno do botão */
  padding: 10px 20px; /* Preenchimento do botão */
  margin-top: 20px; /* Margem superior */
  background: linear-gradient(15deg, #2b2a2b, #000000); /* Gradiente de fundo */
  color: #ffffff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: 600; /* Peso da fonte */
  letter-spacing: 0.5px; /* Espaçamento entre letras */
  transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

/* Estilo da seção de produtos */
.products {
  padding: 20px; /* Preenchimento da seção */
  background-color: #fff; /* Cor de fundo da seção */
}

/* Estilo do título da seção de produtos */
.products h2 {
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Margem inferior */
  font-size: 2em; /* Tamanho da fonte */
  font-weight: 700; /* Peso da fonte */
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Estilo da lista de produtos */
.product-list {
  display: flex; /* Alinha os itens em linha */
  flex-wrap: wrap; /* Permite quebra de linha */
  gap: 20px; /* Espaço entre os itens */
  justify-content: center; /* Centraliza os itens */
}

/* Estilo de cada item de produto */
.product-item {
  background-color: #fff; /* Cor de fundo do item */
  padding: 15px; /* Preenchimento do item */
  border-radius: 8px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto */
  width: 200px; /* Largura fixa do item */
}

/* Estilo da imagem do produto */
.product-item img {
  max-width: 100%; /* Largura máxima da imagem */
  border-radius: 8px; /* Bordas arredondadas */
}

/* Estilo do rodapé */
footer {
  background-color: #000000; /* Cor de fundo do rodapé */
  padding: 20px 0; /* Preenchimento do rodapé */
  text-align: center; /* Centraliza o texto */
}

/* Estilo da barra de redes sociais */
.social-bar a {
  display: inline-block; /* Permite espaçamento em torno dos ícones */
  margin: 0 10px; /* Espaço entre os ícones */
}

/* Estilo das imagens de redes sociais */
.social-bar img {
  width: 50px; /* Tamanho dos ícones */
  height: auto; /* Altura automática */
  filter: brightness(0) invert(1); /* Inverte a cor da imagem */
  transition: transform 0.3s; /* Transição suave para o efeito hover */
}

/* Efeito hover nas imagens de redes sociais */
.social-bar img:hover {
  transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
      width: 90%; /* Largura do container em telas menore */
      flex-direction: column; /* Alinha os itens em coluna */
}
.product-list {
    flex-direction: column; /* Alinha os produtos em coluna */
}
}