/* Definições das fontes Futura */
@font-face {
    font-family: 'Futura';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url("//bark.co/cdn/fonts/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2?h1=Zm9vZC5iYXJrLmNv&h2=YmFyay1mb29kLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h3=YmFyay5jbw&hmac=0c9b9bf66e8be7743c7a18d9910859ab14236dd4331444f5702e3b6b0500f2ca") format("woff2"),
         url("//bark.co/cdn/fonts/futura/futura_n4.6bce24beb4ba1ff4ddeb20f7cd6e2fa513a3d6ec.woff?h1=Zm9vZC5iYXJrLmNv&h2=YmFyay1mb29kLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h3=YmFyay5jbw&hmac=db57c56eba705734bb2845ad4ceb563b8913f2a991a735bf977d60d05fa59850") format("woff");
  }
  
  @font-face {
    font-family: 'Futura';
    font-weight: 400;
    font-style: oblique;
    font-display: fallback;
    src: url("//bark.co/cdn/fonts/futura/futura_o4.9747e2e6ed2f11b894984527c927b42234e48815.woff2?h1=Zm9vZC5iYXJrLmNv&h2=YmFyay1mb29kLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h3=YmFyay5jbw&hmac=423f76c6a3b7898f7fa4e5e5cd3016bb62777fc9a7f638cb030db03531d67e24") format("woff2"),
         url("//bark.co/cdn/fonts/futura/futura_o4.d5edc6b1d9a050bbe0beb9093d73b883bf18c6c1.woff?h1=Zm9vZC5iYXJrLmNv&h2=YmFyay1mb29kLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h3=YmFyay5jbw&hmac=deae9f5079cc1a9bbe44f4cdd05107d9f76d5ac75bb067dae1ea82a9ca5b947a") format("woff");
  }
  
  /* Aplicação da fonte no corpo e outros elementos */
  body {
      font-family: 'Futura', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #d2a7dc; /* Fundo roxo */
      color:#fff;
      letter-spacing: 0.5px; /* Ajusta o espaçamento entre letras */
  }
  
  header {
      background-color: #be7bee; /* Tom mais escuro de roxo */
      padding: 20px 0;
  }
  
  .container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  h1 {
      margin: 0;
      font-size: 1.5em; /* Tamanho da fonte */
      font-weight: 700; /* Peso da fonte */
      letter-spacing: 1px; /* Ajusta o espaçamento entre letras */
  }
  
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  }
  
  nav ul li {
      margin-left: 20px;
  }
  
  nav ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: 600; /* Peso da fonte mais grosso */
      letter-spacing: 0.5px; /* Ajusta o espaçamento entre letras */
  }
  
  .hero {
      text-align: center;
      padding: 50px 20px;
      background-color: #fff; 
  }
  
  .hero h2 {
      margin: 0;
      font-size: 1,5; /* Tamanho da fonte */
      font-weight: 700; /* Peso da fonte */
      letter-spacing: 1px; /* Ajusta o espaçamento entre letras */
  }
  
  .hero p {
      font-size: 1.5em;
      line-height: 1.4; /* Altura da linha */
      letter-spacing: 0.5px; /* Ajusta o espaçamento entre letras */
  }
  
  .btn {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 20px;
      background-color: #fff;
      color: #d2a7dc;
      text-decoration: none;
      border-radius: 5px;
      font-weight: 600; /* Peso da fonte mais grosso */
      letter-spacing: 0.5px; /* Ajusta o espaçamento entre letras */
  }
  
  .products {
      padding: 20px;
      background-color: #fff; /* Fundo da seção de produtos */
  }
  
  .products h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2em; /* Tamanho da fonte */
      font-weight: 700; /* Peso da fonte */
      letter-spacing: 1px; /* Ajusta o espaçamento entre letras */
  }
  
  .product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }
  
  .product-item {
      background-color: #fff; 
      padding: 15px;
      border-radius: 8px;
      text-align: center;
      width: 200px;
  }
  
  .product-item img {
      max-width: 100%;
      border-radius: 8px;
  }
  
  footer {
      text-align: center;
      padding: 10px 0;
      background-color: #ffff; 
  }